@charset 'UTF-8';
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; word-break: break-all; }
body, input, textarea { font-family: "돋움",Dotum,"굴림",Gulim,"Apple Gothic",sans-serif; line-height: 1.5; font-size: 12px; color: #666; }
a { text-decoration: none; color: #666; }
strong,b,h1,h2,h3,h4,h5,h6 { font-weight: 700; }
ul,ol { list-style-position: inside; }
input[type="text"],input[type="password"],textarea { padding: 5px 10px; border: 1px solid #d2d2d2; box-shadow: 0 1px #fff; -moz-box-shadow: 0 1px #fff; -webkit-box-shadow: 0 1px #fff; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=-180, Color='#ffffff'); background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/bg_input_text.png') repeat-x; }
input[type="text"]:focus,input[type="password"]:focus,textarea:focus { border-color: #f58024; }

body { background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/bg_body.png'); height: 100%; padding: 0 20px 40px; }

/* 상단 로고이미지 */
#header h1 { padding: 12px 0; }
#header h1 img { height: 21px; width: auto; }

/* 블로그 메뉴 */
.blogMenu { background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/bg_gnb.png'); }
.blogMenu ul { border-right: 1px solid #c9c9c9; width: 100%; overflow: hidden; border-bottom: 1px solid #c6c6c6; }
.blogMenu li { text-align: center; float: left; width: 25%; max-width:240px; }
.blogMenu li.first { border-left: 1px solid #c9c9c9; }
.blogMenu li a { display: block; height: 44px; line-height: 44px; width: 100%; color: #333; font-size: 13px; font-weight: 700; border-left: 1px solid #f7f6f7; border-right: 1px solid #c9c9c9; border-top: 1px solid #c9c9c9; }
.blogMenu li a:hover { background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/bg_gnb_on.png'); color: #fff; box-shadow: 0 1px #cecdcd; -moz-box-shadow: 0 1px #cecdcd; -webkit-box-shadow: 0 1px #cecdcd; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=-180, Color='#cecdcd'); border-top: 1px solid #e04e32; border-bottom: 1px solid #911a03; border-left: 0; }
.blogMenu li a:hover:after { content: " "; background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/bul_gnb_on.png') no-repeat 5px 0; padding-left: 25px; padding-top: 2px; }

#wrapper { background: #fff; overflow: hidden; border: 1px solid #d1d1d1; border-top: 0; }

/* 왼쪽메뉴 */
.leftCol { width: 7%; max-width: 75px; float: left; border-right: 1px solid #eaeaea; background: #eaeaea; text-align: center; padding-top: 20px; }
.leftCol li { margin-bottom: 15px; }
.leftCol a { display: block; font-weight: 700; background-position: center 0; background-repeat: no-repeat; padding: 40px 5px 10px; letter-spacing: -1px; }
.leftCol a:hover { color: #dc0000; }
.leftCol .reference a { background-image: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/lnb_support1.png'); }
.leftCol .intelligence a { background-image: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/lnb_support2.png'); }
.leftCol .news a { background-image: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/lnb_support3.png'); }
.leftCol .help a { background-image: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/lnb_support4.png'); }
.leftCol .reference a:hover { background-image: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/lnb_support1_on.png'); }
.leftCol .intelligence a:hover { background-image: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/lnb_support2_on.png'); }
.leftCol .news a:hover { background-image: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/lnb_support3_on.png'); }
.leftCol .help a:hover { background-image: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/lnb_support4_on.png'); }

/* 사이드바 */
#sidebar { width:18%; max-width: 165px; float: left; padding: 30px 20px 0; border-right: 1px solid #eceaea; background: #fbfbfb; }
#sidebar .widget h3 { color: #333; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #e6e6e6; font-size: 14px; }

/* 사이드바 - 카테고리 */
.category #category_0,.category .ib { display: none; }
.category table table { width: 100%; }
.category .branch3 { cursor: pointer; font-weight: 700; padding: 10px 20px 10px 0; background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/bul_list.png') no-repeat 100% center; }
.category .branch3:hover,.category table[style="color: rgb(220, 0, 0);"] .branch3 { background-image: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/bul_list_on.png'); }
.category .branch3:hover div { color: #dc0000 !important; }

/* 컨텐츠 */
#content { width: 75%; max-width: 780px; float: left; }
#content .entry { margin: 20px 25px; }

/* 글 상단 */
.entryTop { padding-top: 15px; }
.entryTop .location { float: right; overflow: hidden; padding: 0 20px 5px 0; }
.entryTop .location li { float: left; font-size: 11px; }
.entryTop .location li a { color: #888; }
.entryTop .location li a img{ vertical-align: text-bottom; }
.entryTop .location .arrow { padding: 0 6px; }
.entryTop .subject { padding: 18px 25px; border-bottom: 1px solid #e9e9e9; font-size: 16px; color: #333; line-height: 1.1; font-weight: 700; }

/* 글 타이틀 */
.titleWrap { line-height: 20px; }

/* 글 본문 */
div.article { padding: 30px 20px; border-top: 0; margin-bottom: 5px; }
.article p,.article ul,.article ol { margin-bottom: 1em; }

/* 글 태그 출력 */
.tagTrail { margin-bottom: 15px; color: #fbfbfb; }
.tagTrail .tagText { background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/ico_tag.png') no-repeat 0 50%; padding: 0 10px 0 18px; }
.tagTrail a { padding-right: 10px; border-right: 1px solid #dadada; }

/* 글 하단 버튼 */
.button { margin-bottom: 60px; text-align: center; overflow: hidden; }
.button .social { border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; background: #f2f2f2; float: left; overflow: hidden; }
.button .social a { display: block; float: left; overflow: hidden; border-right: 1px solid #d9d9d9; }
.button .social .facebook { border-left: 1px solid #d9d9d9; }
.button .social img { padding: 7px; }
.button  .btn_gray { float: right; overflow: hidden; }

/* 글 트랙백,댓글 갯수 출력 */
.actionTrail { margin-bottom: 5px; padding-left: 15px; background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/bg_h3_type03.png') left 50% no-repeat; }
.actionTrail a { font-weight: bold; color: #555; }

/* 글 트랙백 출력 */
.trackback .tbBox {  margin-bottom: 5px; }
.trackback .tbText { background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/ico_tag.png') no-repeat 0 50%; padding: 0 10px 0 18px; }
.trackback ol { margin-bottom: 15px; padding: 0; }
.trackback li { padding: 10px 20px; border-bottom: 1px solid #dadada; }
.trackback li:nth-child(2n) { background: #fbfbfb; }
.trackback li:last-child { border-bottom: 0; }
.trackback .tbTitle { font-weight: 700; }
.trackback .date { float: right; }

/* 글 댓글 출력 */
.commentList ol { margin-bottom: 15px; padding: 0; }
.commentList li { padding: 10px 20px; border-bottom: 1px solid #dadada; }
.commentList li:nth-child(2n) { background: #fbfbfb; }
.commentList li:last-child { border-bottom: 0; }
.commentList li li { border-top: 1px solid #dadada; border-bottom: 0; margin: 5px 0; padding-right: 0; }
.commentList li li:last-child { margin-bottom: 0; }
.commentList .date { float: right; }

/* 글 댓글 입력 */
.commentWrite { padding: 0 20px; }
.commentWrite p { margin-bottom: 0.5em; }
.commentWrite label { margin-right: 0.5em; font-weight: bold; }
.commentWrite .password { margin: 0 3em; }
.commentWrite textarea { width: 100%; }
.commentWrite input[type="submit"] { margin: 0 auto; cursor: pointer; }
.commentWrite .secretWrap { text-align: right; }
@media only screen and (max-width : 1024px) {
.commentWrite p span { display: block; }
.commentWrite p .password { margin: 0.5em 0; }
 }

/* 페이징 */
.paging { text-align: center; }
.paging a { font-weight: 700; display: inline-block; }
.paging .prev,.paging .next { background: #efefef; border: 1px solid #d6d6d6; width: 90px; }
.paging .prev { margin-right: 10px; }
.paging .no-more-prev,.paging .no-more-next { color: #999; }
.paging .num,.paging .interword { margin-right: 10px; }
.paging .num span { display: inline-block; padding: 0 7px; }
.paging .num .selected { color: #fff; background: #dc0000; }

/* 푸터 */
#footer { margin-top: 60px; border-top: 1px solid #d1d1d1; }
.footerMenu { overflow: hidden; }
.footerMenu li { float: left; margin-left: 25px; padding: 12px 0; }
.copyright { padding: 15px 0; border-top: 1px solid #e9e9e9; }
.copyright img { margin: 0 1em; }
.copyright span { margin-right: 0.5em; }

.clear { clear: both; }
.box { border: 1px solid #dadada; box-shadow: 0 1px #e4e3e3; -moz-box-shadow: 0 1px #e4e3e3; -webkit-box-shadow: 0 1px #e4e3e3; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=-180, Color='#e4e3e3'); padding: 10px 20px; } /* 박스 기본설정 */
.bgbox {  background: #fbfbfb; } /* 박스 배경색 */
.highlight { color: #dc0000; font-weight: bold; } /* 글자 강조 */
.btn_gray { display: block; border: 1px solid #363636; background: url('http://dev.tstore.co.kr/devpoc/static-res/ko/img/btn_bg_gray02.png') repeat-x; padding: 6px 40px; font-weight: 700; color: #fff; box-shadow: 0 1px #fff; -moz-box-shadow: 0 1px #fff; -webkit-box-shadow: 0 1px #fff; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=-180, Color='#ffffff'); } /* 회색 버튼 */
.tagTrail a:hover,.actionTrail a:hover,.paging .num span:hover { text-decoration: underline; } /* 마우스오버시 밑줄 */
.control a { text-decoration: underline; }
.name a { font-weight: 700; }